# core functionality
RealtimeTTS[all]==0.4.7
RealtimeSTT==0.3.2
PyQt6-Fluent-Widgets==1.7.0
openai-token-counter==1.0.2
instructor==1.6.3
ollama==0.3.3

# rvc post processing
fairseq==0.12.2
faiss-cpu==1.8.0.post1
praat-parselmouth==0.4.4
torchcrepe==0.0.23
torchfcpe==0.0.4
pyworld==0.3.4

# music module
yt-dlp==2024.8.6
pytube==15.0.0
python-vlc==3.0.20123

# context module
keyboard==0.13.5
pyautogui==0.9.54
pytesseract==0.3.13

# mail module
beautifulsoup4==4.12.3
chardet==5.2.0

# open Interpreter module
open-Interpreter==0.3.13

# calendar module
google-auth-oauthlib==1.2.1

# Server module
fastapi==0.115.0
uvicorn==0.30.6