aiohttp==3.8.4
aiosignal==1.3.1
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
azure-cognitiveservices-speech==1.29.0
backcall==0.2.0
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
comtypes==1.2.0
decorator==5.1.1
exceptiongroup==1.1.1
executing==1.2.0
ffmpeg-python==0.2.0
filelock==3.12.0
frozenlist==1.3.3
future==0.18.3
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
h11==0.14.0
html2text==2020.1.16
httplib2==0.22.0
idna==3.4
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
llvmlite==0.40.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numba==0.57.0
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.8
openai-whisper==20230314
outcome==1.2.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
protobuf==4.23.2
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycparser==2.21
Pygments==2.15.1
pyparsing==3.0.9
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PySocks==1.7.1
pyttsx3==2.90
pywin32==306
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.6.2
sympy==1.12
tiktoken==0.3.1
torch==2.0.1
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.3
typing_extensions==4.6.3
uritemplate==4.1.1
urllib3==1.26.16
wcwidth==0.2.6
wsproto==1.2.0
yarl==1.9.2
